table {
  border-collapse: collapse;
  word-wrap: break-word;
  margin-bottom: 20px;
  table-layout: auto;
  display: table;
  text-align: left;
  width: 100%;
  font-size: 16px;

  th {
    background: #F6F7F9;
    border: 0;
    padding: 0.9em 1em;
  }

  tr {
    border-top: 0;
    border-bottom: 1px solid #DEE0E3;
  }

  td {
    background: #ffffff;
    font-size: 14px;
    border: 0;
    padding: 0.9em 1em;
  }
  
  tr:last-child {
    border: 0;
  }

  thead tr {
    border: 0;
  }

  img {
    width: 40px;
  }
}


.no-sidebar .theme-default-content:not(.custom) {
  width: 100%;
  max-width: 100%;
  padding-bottom: 0;
  box-sizing: border-box;
  padding: 0;
}

.page {
  padding-bottom: 0;
}

.page-meta {
  display: none;
}

a {
  text-decoration: none !important;
  background-color: transparent;
  outline: none;
  cursor: pointer;
}